body{
  margin:0px;
  padding:0px;
  padding-top:50px;
  border:0px;
  font-size:12px;
  background-repeat:no-repeat;
  background-size:cover;
}

.weather_container{
  /* border:1px solid red; */
  width:600px;
  height:200px;
  border-radius:5px;
  padding:5px;
  margin:auto;
  background-color:white;
  shadow:2px gray;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:row-reverse;
}

.country_container{
  width:200px;
  display:flex;
  justify-content:end;
}
.country_wrapper{
  /* border:1px solid blue; */
  width:150px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:start;
  height:100%
}

.country_city{
  font-size:30px;
  font-weight:bold;
  color:#4f5f5f;
}

.country_name{
  font-size:15px;
  color:#aaa;
}

.country_weather_wrapper{
  margin-top:10px;
  
}

.country_weather_condition{
  font-size:15px;
  color:#555;
  font-weight:bold;
  text-align:center
}
.country_time{
font-size:16px;
margin-top:5px;
}
.country_date{
font-size:18px;
margin-top:5px;

}

.temperature_wrapper{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  flex:1;
  gap:20px;
  padding-left:20px;
}

.temperature_image{

}

.temperature_text_wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
}

.temperature_text{
  font-size:100px;

}
.temperature_measure{
  font-size:20px;
  cursor:pointer;
  color:#aaa;
}

.measure_seperator{
  font-size:20px;
  margin:2px;
}

.degree{
  vertical-align:super;
  font-size:12px;
  margin:1px;
}

.activated{
  color:black
}